.card-footer {
    height: 55px;
}
.card-header {
    height: 55px;
    line-height: 40px;
    text-align: center;
    font-size: large;
    text-transform: uppercase;
}
.card-body {
    min-height: 90px;
}
.teamFlag {
    margin-right: 5px;
}
.match-result {
    height: 32px;
}
.navbar-brand {
    text-transform: uppercase;
}
#container_fixtures {
    display: none;
}
